
body{
    background-color: black;
    color: white;
}




[data-initials]:before {
    /* background: green;*/
     color: white;
     opacity: 1; 
     content: attr(data-initials); 
     display: inline-block; 
     font-weight: bold; 
     border-radius: 50%; 
     vertical-align: middle; 
     margin-right: 0.5em; 
     width: 50px; 
     height: 50px; 
     line-height: 50px; 
     text-align: center; 
     position: relative;
     top: 50px;
     border-style: dotted;
     }

     .first-section{
        margin-top: 200px
        ;
        }
        .rep{
            float: right;
            position: relative;
            bottom:210px;
            border-style: dashed;
            border-radius: 50%;
        }
        
p{
    position: relative;
    bottom: 40px;
    

}

.second-section{
    margin-top: 300px;
    }